.faqs__wrapper {
    margin-top: 4rem;
    grid-template-columns: repeat(2, 1fr);
    gap: 1.5rem 5rem;
}

.faq {
    background-color: var(--color-gray-500);
    padding: 2rem;
    border-radius: 1rem;
    cursor: pointer;
}

.faq__icon {
    background-color: transparent;
    color: var(--color-gray-100);
    font-size: 1.5rem;
}

.faq p {
    margin-top: 1.5rem;
}

@media screen and (max-width: 1024px) {
    .faqs__wrapper {
        grid-template-columns: 1fr;
    }
}

@media screen and (max-width: 600px) {
    .faqs__wrapper {
        gap: 1rem;
        margin-top: 3rem;
    }
}